*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
	color: seashell;
	
}
html{
	opacity: 0.9;
}
body{
	background: #000000;
	
}
header {

	display: flex;
	justify-content: space-between;
	height: 69px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid seashell;
	position: fixed;
	width: 100%;
	align-items: center;
	background: #000000;
}
header .logo{
	height: 50px;
}

header ul{
	display: flex;
}
header ul  li{
	list-style: none;
}
header ul  a{
	margin-left: 30px;
	font-size: 22px;
}

.ourMission {
	padding-top: 69px;
	display: flex;
	width: 83%;
	height: 769px;	
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	background-image: url("../img/img-mission-background.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-content: center;
	align-items: center;
}
.ourMission .text{
	width: 100%;
	min-height: 80px;
	background: #000000;
	text-align: center;
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	align-items: center;
}
.ourMission .text h2{
	margin-top: 5px;
	margin-bottom: 5px;
}

.ourMission .text h4{
	margin-top: 5px;
	margin-bottom: 5px;
}

.teaMonth {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.teaMonth h4{
	margin-top: 25px;
}
.divImgHolder{
	max-width: 1040px;
	min-height: 300px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
}
		
.imgHolder{
	margin: 20px;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
}
	
.imgHolder img{
	width: 300px;
	height: 200px;
}
.imgHolder figcaption{
	margin-top: 10px;
}

.locations {
	margin-top: 69px;
	padding-top: 69px;
	display: flex;
	width: 83%;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	background-image: url("../img/img-locations-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.divLocHolder{
	margin-top: 15px;
	max-width: 1020px;
	display: flex;
	justify-content: center;	
	flex-wrap: wrap;
}

.locHolder{

	margin: 20px;
	width: 300px;
	background: #000000;
	text-align: center;
	line-height: 50px;
	color: white;
}

footer{
	margin-top: 15px;
}
footer .inf{
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
footer .inf a{
	text-decoration: none;
}

.copyright{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
}
